.movie-card {
    border-radius: 1.5rem;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    width: 350px;
    background-color: var(--grey-color-dark);

    &__image {
        &-container {
            max-height: 200px;
            overflow: hidden;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: var(--grey-color-darker);

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }
    }

    &__wrapper {
        flex-wrap: wrap;
        display: flex;
        margin-top: 2.1rem;

        .movie-card {
            flex: 1 1 25rem;
            width: auto;
            margin: 1.2rem;
        }
    }
}