.todo {
    &-task {
        padding: 1.6rem;
        width: 100%;
        border-radius: 1.5rem;
        background-color: var(--grey-color-dark);
        display: flex;
        margin-bottom: 1.6rem;

        &:last-child {
            margin-bottom: 0;
        }

        &__wrapper {
            margin: 2.1rem 0;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        &__divider {
            margin-top: 2.1rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    
}